name: NDK build

env:
  module_id: noodleextensions
  qmodName: NoodleExtensions
  cache-name: noodleextensions_cache

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          submodules: true
          lfs: true

      - name: Get QPM
        uses: Fernthedev/qpm-action@v1
        with:
          resolve_ndk: true
          workflow_token: ${{secrets.GITHUB_TOKEN}}
          restore: true # will run restore on download
          cache: true #will cache dependencies
          qpm_qmod: ${{env.qmodName}}.qmod

      - name: Build
        run: |
          cd ${GITHUB_WORKSPACE}
          qpm s build
          qpm qmod manifest
          qpm qmod zip

      - name: Get Library Name
        id: libname
        run: |
          cd ./build/
          pattern="lib${module_id}*.so"
          files=( $pattern )
          echo "NAME=${files[0]}" >> ${GITHUB_OUTPUT} 

      - name: Upload non-debug artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.libname.outputs.NAME }}
          path: ./build/${{ steps.libname.outputs.NAME }}
          if-no-files-found: error

      - name: Upload debug artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug_${{ steps.libname.outputs.NAME }}
          path: ./build/debug/${{ steps.libname.outputs.NAME }}
          if-no-files-found: error

      - name: Upload qmod artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.qmodName}}.qmod
          path: ./${{ env.qmodName }}.qmod
          if-no-files-found: error